<h3> Edit a figure: </h3>

<form action="/figures/<%= @figure.id %>"  method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text">
  <input type="submit" value="Edit Figure"
</form>
