<h1> <%= @figure.name %> </h1>

Titles:
  <ul>
  <%@figure.titles.each do |title| %>
    <p> <li> <%= title.name %> </li> </p>
    <% end %>
  </ul>

Landmarks:
  <ul>
  <%@figure.landmarks.each do |landmark| %>
    <p> <li> <%= landmark.name %> </li> </p>
    <% end %>
  </ul>
